.firstView {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
}

.firstView-img {
    max-width: calc(50% + 470px);
    width: 100%;
}

.firstView-img img {
    width: 100%;
}

.firstView-title {
    position: absolute;
    left: 0;
    bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 1;
    width: 100%;
    padding: 0 20px 0;
}

.firstView-h2 {
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
    color: white;
}

.firstView-h2 span {
    display: block;
}

.firstView-h2 .text-en {
    font-weight: normal;
    color: #4fd1ed;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .3rem;
}

.firstView-h2 .text-nihon {
    line-height: 1.4;
    margin-top: 20px;
    letter-spacing: .2rem;
}

.firstView-box {
    max-width: calc(50% - 80px);
    position: absolute;
    width: 100%;
    max-height: 395px;
    height: 25vw;
    min-height: 280px;
    background-color: #008177;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
}

.firstView-textSink {
    position: absolute;
    top: calc(100% - 45px);
    left: 0;
    z-index: -2;
    line-height: .8;
    color: #004070;
    width: 100%;
    opacity: .05;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: clamp(31rem, 23vw, 37rem);
}

.firstView-textSink span {
    display: block;
    white-space: nowrap;
    width: 100%;
    letter-spacing: 1.5rem;
}

.firstView-textSink span:first-of-type {
    max-width: calc(50% + 800px);
    text-indent: -70px;
}

.firstView-textSink span:last-of-type {
    max-width: calc(50% + 530px);
    width: calc(100% - 210px);
}

@media screen and (max-width: 768px) {
    .firstView-textSink {
        font-size: 18rem;
    }
    .firstView-h2 .text-nihon, .people .interview-h3 .text-nihon {
        font-size: 2rem;
    }
    .people .questionnaire-question-title {
        font-size: 2rem;
    }
    .people .interview-h3 .text-en,
    .people .questionnaire-answer-person .person-name {
        font-size: 1.6rem;
    }
    .people .interview-infor-content {
        font-size: 1.4rem;
    }
    .firstView {
        display: block;
    }
    .firstView-title {
        bottom: 0;
        padding: 20px;
        -webkit-transform: translateY(60px);
                transform: translateY(60px);
        height: 25vw;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: calc(50% - 80px);
        min-width: 260px;
        min-height: 120px;
    }
    .firstView-h2 .text-nihon {
        margin-top: 10px;
    }
    .firstView-box {
        min-height: 0;
        max-width: 100%;
        height: 100%;
    }
    .firstView-textSink {
        top: calc(100% - 3vw);
    }
    .firstView-textSink span:first-of-type {
        text-indent: -20px;
    }
    .firstView-textSink span:last-of-type {
        max-width: calc(100% - 14vw);
        width: 100%;
    }
}