@charset "UTF-8";
@import "../css/functions.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    color: #333333;
    font-weight: 400;
}

.warpper {
    min-width: 1200px;
    overflow: hidden;
    display: block;
}

.l-container {
    width: 1120px;
    margin: 0 auto;
}

p,
dd,
td,
th,
li {
    line-height: 2.5em;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1.4rem;
    }
    .warpper {
        min-width: 100%;
    }
    .l-container {
        width: 100%;
    }
    p,
    dd,
    td,
    th,
    li {
        line-height: 1.8em;
    }
}

body>main {
    -ms-overflow-x: hidden;
}

@supports (-ms-ime-align: auto) {
    body>main {
        overflow: hidden;
    }
}

$font_clearSan:font_clearsan,
sans-serif;
.nav {
    width: 100%;
    .nav__logo {
        width: 100%;
        max-width: 38.5rem;
        text-align: right;
        margin-left: 4rem;
        span {
            font-size: 1.8rem;
            color: #00655a;
            font-family: $font_clearSan;
        }
    }
}