@charset "UTF-8";
@import "../css/functions.scss";
$font_notoSan: 'Noto Sans JP',
sans-serif;
.slick-slide {
    transition: .3s ease;
    transform: scale(.62);
}

.slick-current {
    transform: scale(1);
    >.item_decoretion {
        span {
            display: block !important;
            &::after {
                animation: keyframe_linemove 2.8s linear 0s infinite;
            }
        }
    }
}

.slick-current+.slick-slide {
    transform: translateY(110px) scale(.5);
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, 0.5);
    }
}

.f-symbol {
    display: inline-block;
    max-width: 5rem;
    @include mobile {
        max-width: 15px;
    }
}

.decoration {
    width: 100%;
    position: absolute;
    z-index: -1;
    figure {
        width: 100%;
    }
}

.mv {
    width: 100%;
    position: relative;
    display: inline-block;
    .decoration {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        figure {
            position: absolute;
            z-index: -1;
        }
        .background {
            top: 0;
            width: 1140px;
            max-width: 75%;
            right: 0;
            transform: translate(125px, -15px);
        }
        .text {
            position: absolute;
            bottom: 0;
            left: 0;
            line-height: 0.5;
            color: rgba(#004070, 0.05);
            font-size: 378px;
            font-family: font_clearsan_thin;
            letter-spacing: 20px;
            transform: translateX(-2%);
        }
        .color-code {
            max-width: 57px;
            &.child--1 {
                left: 15.25vw;
                bottom: 5.25vw;
            }
            &.child--2 {
                right: 17.25vw;
                top: 18.75vw;
            }
            &.child--3 {
                right: 17.25vw;
                bottom: 0;
                transform: translateY(100%) translateY(35px);
            }
        }
        @include mobile {
            .text {
                font-size: 10rem;
                transform: translate(20px, 20px);
            }
        }
    }
    .mv__slider {
        width: 100%;
        margin-top: 220px;
        position: relative;
        .mv__slider-item {
            width: 100%;
            figure {
                width: 100%;
            }
        }
        .item_decoretion {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            span {
                position: absolute;
                display: none;
                transform: rotate(45deg);
                overflow: hidden;
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    // animation: keyframe_linemove 3s linear 0s infinite;
                }
                &:nth-child(1) {
                    width: 20px;
                    height: 140px;
                    left: 36.8%;
                    &::after {
                        background-color: #fff;
                    }
                }
                &:nth-child(2) {
                    width: 4px;
                    height: 55px;
                    left: 17.76%;
                    top: 26.8%;
                    &::after {
                        background-color: #fff;
                    }
                }
                &:nth-child(3) {
                    width: 4px;
                    height: 155px;
                    left: 32.895%;
                    top: 15.35%;
                    &::after {
                        background-color: #00c473;
                    }
                }
                &:nth-child(4) {
                    width: 4px;
                    height: 130px;
                    right: 15.15%;
                    top: 22.35%;
                    &::after {
                        background-color: #13535f;
                    }
                }
                &:nth-child(5) {
                    width: 12px;
                    height: 105px;
                    left: 24.34%;
                    bottom: 13.15%;
                    &::after {
                        background-color: #d0e37c;
                    }
                }
                &:nth-child(6) {
                    width: 4px;
                    height: 130px;
                    right: 17%;
                    bottom: 19.7%;
                    &::after {
                        background-color: #006859;
                    }
                }
            }
        }
        @include ipadpro {
            margin: 0;
        }
    }
    .mv__slider-content {
        position: absolute;
        top: 50%;
        left: 17%;
        right: 0;
        bottom: 0;
        transform: translateY(-50%);
        h3 {
            .sub-title {
                font-family: font_clearsan_medium, sans-serif;
                font-size: 2rem;
                color: #008177;
                margin-bottom: 4.5rem;
                letter-spacing: .1rem;
                display: block;
                margin-left: 1rem;
            }
            .title {
                font-family: $font_notoSan;
                font-weight: 700;
                font-size: 10.4rem;
                background-color: #fff;
                display: table;
                margin-bottom: 1.4rem;
                line-height: 0.65;
                padding: 2rem 1rem;
                &:first-child {
                    color: #123e5e;
                }
                &.stroke {
                    color: #fff;
                    -webkit-text-stroke: 2px #4da8be;
                }
                &:last-child {
                    color: #008177;
                }
            }
        }
        @include mobile {
            left: 20px;
            h3 {
                .sub-title {
                    font-size: 1.4rem;
                }
                .title {
                    font-size: 12.5vw;
                }
            }
        }
    }
}

@keyframes keyframe_linemove {
    0% {
        transform: translateY(-120%);
    }
    40%,
    60% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(120%);
    }
}

.f-container {
    width: 100%;
    max-width: 1333px;
    margin: 0 auto;
}

.article {
    width: 100%;
    max-width: 1333px;
    background-color: #048198;
    margin: 0 auto;
    margin-top: 11.5rem;
    .article__container {
        display: flex;
        padding: 3.5rem 0;
        line-height: 1.4;
    }
    .article__date {
        font-family: font_clearsan_medium;
        color: #fff;
        margin-right: 2.5rem;
    }
    .article__detail {
        color: #fff;
    }
    @include mobile {
        margin-top: 5rem;
        .article__container {
            display: flex;
            padding: 1.5rem 0;
        }
    }
}

.comp-work {
    margin-top: 10rem;
    .decoration {
        bottom: 0;
        right: 0;
    }
    .comp-work__wrap {
        width: 100%;
    }
    .comp-work__detail {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        transform: translate(-3.5rem, -22rem);
        .box {
            width: 100%;
            max-width: 520px;
            background-color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 1rem;
            padding: 5rem;
            .tag {
                display: table;
                margin: 0 auto;
                color: #008177;
                font-family: font_clearsan_medium;
                position: relative;
                letter-spacing: .1rem;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 3rem;
                    background-color: #4fd1ed;
                    display: block;
                    top: 50%;
                    left: 0;
                    transform: translate(-4rem, -50%) rotate(40deg);
                }
            }
            .title {
                color: #333;
                font-size: 2.5rem;
                font-weight: 500;
                line-height: 1.4;
                margin-bottom: 1rem;
            }
            .desc {
                line-height: 2;
            }
            .button-more {
                margin: 0 auto;
                margin-top: 2.5rem;
            }
        }
    }
    @include mobile {
        .comp-work__detail {
            transform: translate(0, -15vw);
            .box {
                max-width: 100%;
                margin: 0;
                margin-top: 3rem;
                .tag {
                    &::before {
                        width: 3px;
                        height: 20px;
                    }
                }
                .title {
                    font-size: 2rem;
                }
            }
        }
    }
}

.interview {
    .decoration {
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        figure {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .text {
            position: absolute;
            top: 0;
            left: 0;
            line-height: 0.5;
            color: rgba(#004070, 0.05);
            font-size: 40rem;
            font-family: font_clearsan_thin;
            letter-spacing: 20px;
            transform: translate(19.815vw, 5.5vw);
        }
        @include ipadpro {
            figure {
                height: 78rem;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        @include mobile {
            figure {
                height: auto;
                img {
                    height: auto;
                    object-fit: unset;
                }
            }
            .text {
                font-size: 10rem;
                transform: translate(20px, 0);
            }
        }
    }
    .interview__wrap {
        width: 100%;
        text-align: center;
        padding-bottom: 13rem;
        margin-top: 200px;
    }
    .interview__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 4.5rem;
        .item {
            width: 100%;
            max-width: calc(25% - 40px);
            figure {
                display: flex;
                align-items: flex-start;
                figcaption {
                    color: #4fd1ed;
                    font-family: font_clearsan_medium;
                    writing-mode: tb-rl;
                    margin-left: 1.5rem;
                    position: relative;
                    letter-spacing: .1rem;
                    &::after {
                        content: '';
                        width: 5px;
                        height: 15px;
                        background-color: #4fd1ed;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, -30px) rotate(40deg);
                    }
                }
            }
            &:nth-child(even) {
                margin-top: 6rem
            }
            p {
                color: #fff;
                text-align: left;
                line-height: 1.6;
                font-weight: 300;
                margin-top: 2rem;
            }
        }
    }
    .interview__box {
        width: 100%;
        display: flex;
        background-color: #004070;
        justify-content: flex-end;
        margin-top: 8rem;
        .title {
            width: 100%;
            max-width: 44.64%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            color: #fff;
            padding-left: 4rem;
            div {
                font-size: 3rem;
                letter-spacing: .3rem;
                display: flex;
                align-items: center;
                line-height: 1.4;
                &::after {
                    content: '';
                    width: 3.5rem;
                    height: 0;
                    margin-left: 1.5rem;
                    border-top: 1px solid #fff;
                    display: inline-block;
                }
            }
        }
    }
    @include mobile {
        .interview__wrap {
            margin-top: 5rem;
            padding-bottom: 5rem;
        }
        .interview__list {
            .item {
                max-width: calc(50% - 40px);
                p {
                    color: #333;
                }
            }
        }
        .interview__box {
            margin-top: 5rem;
            flex-wrap: wrap;
            .title {
                max-width: 100%;
                padding: 2rem;
                div {
                    font-size: 1.6rem;
                    &::after {
                        display: none;
                    }
                }
            }
            figure {
                width: 100%
            }
        }
    }
    @include near_mobile {
        .interview__list {
            .item {
                margin-top: 6rem;
                max-width: calc(100% - 20px);
            }
        }
    }
}

.career {
    padding-top: 18rem;
    .decoration {
        top: 0;
        left: 0;
        .text {
            position: absolute;
            top: 0;
            left: 0;
            line-height: 0.55;
            color: rgba(#004070, 0.05);
            font-size: 400px;
            font-family: font_clearsan_thin;
            letter-spacing: 20px;
            transform: translateX(-10vw);
        }
    }
    .career-plan {
        width: 100%;
        border-top: 1px solid #d2d2d2;
        padding-top: 7rem;
        padding-bottom: 8rem;
        position: relative;
        h2 {
            a {
                color: #333;
                font-weight: 500;
                font-size: 3rem;
                letter-spacing: .1rem;
                line-height: 1.6;
                transition: all .3s ease;
                &:hover {
                    opacity: 0.75;
                }
            }
            span {
                display: flex;
                align-items: center;
                color: #008177;
                font-family: font_clearsan_medium;
                font-size: 2rem;
                margin-bottom: 2.75rem;
                &::before {
                    content: '';
                    width: 5px;
                    height: 25px;
                    background-color: #4fd1ed;
                    display: block;
                    margin-right: 2rem;
                    transform: rotate(40deg);
                }
            }
        }
        figure {
            position: absolute;
            z-index: 1;
        }
        &.first-child {
            figure {
                top: 0;
                right: 0;
                transform: translate(-295px, 115px);
            }
        }
        &.second-child {
            figure {
                top: 0;
                right: 0;
                transform: translateY(-350px);
            }
        }
    }
    @include ipadpro {
        padding-top: 18rem; // 2rem 0 2rem;
    }
    @include mobile {
        padding-top: 10rem;
        .decoration {
            .text {
                font-size: 100px;
                line-height: 0.8;
                transform: translateX(20px);
            }
        }
        .career-plan {
            padding-top: 5rem;
            padding-bottom: 5rem;
            h2 {
                a {
                    font-size: 2.5rem;
                    &:hover {
                        opacity: 0.75;
                    }
                }
                span {
                    font-size: 1.6rem;
                }
            }
            figure {
                position: static;
                margin-top: 3rem;
            }
            &.first-child {
                figure {
                    transform: translate(0, 0);
                }
            }
            &.second-child {
                figure {
                    transform: translateY(0);
                }
            }
        }
    }
}